nav {
    box-sizing: border-box;

    z-index: 1;

    position: fixed;
    top: 0;
    right: 0;

    width: 85%;
    height: 100vh;

    background-color: #333333;

    display: flex;
    flex-direction: column;
}

nav * {
    color: #fff;
}

nav a:nth-child(1) {
    text-align: start;
}

nav a {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    text-align: end;
    text-decoration: none;
}

nav a:nth-child(n+2):hover {
    background-color: #fff;
    color: #333333;
}